.center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-right: 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding-right: 4px;

}

.column img {
  height: auto;
  margin-top: 1vh;
  vertical-align: middle;
  width: 100%;
  image-orientation: from-image;
}

img:hover {
    transform: scale(1.25);
    transition: 0.2s;
    border: solid darkslategray 3px;
    border-radius: 3vh;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    max-width: 100%;
  }
  .row {
    padding-left: 5vw;
  }
}
