<!DOCTYPE html>
<!-- base.html - all htm files with navbar will import this file -->
<html>

  <head>
    {% block head %}
      <!-- Vendor Dependencies - CSS -->
      <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }} />
      <!-- User Defined CSS -->
      <link rel="stylesheet" href={{ url_for('static', filename='css/common.css') }} />
      <!-- Favicon Image -->
      <link rel="shortcut icon" href={{ url_for('static', filename='images/favicon.png') }} />
    {% endblock %}
  </head>

  <header>
    {% block header %}
    {% endblock %}
  </header>

  {% block basenavbar %}
    <ul>
      <li><a id="homeLi" href="/home">Home</a></li>
      <li><a href="/home#probstmnt">Project Overview</a></li>
      <li><a href="/home#appbkgnd">Application Background</a></li>
      <li><a href="/home#anlaprch">Model Approach</a></li>
      <li><a id="contactsLi" href="/contacts">Team</a></li>
      <li><a id="generateLi" href="/generate">Generate</a></li>
      <li><a id="aboutLi" href="/about">About</a></li>
    </ul>
  {% endblock %}

  <body>
    {% block body %}
    {% endblock %}
  </body>

  <footer>
    {% block footer %}
    {% endblock %}
  </footer>

  {% block basescripts %}
    <!-- Vendor Dependencies - JS -->
    <script type="text/javascript" src={{ url_for('static', filename='js/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
    <!-- TODO: Maybe need this ajaz popper -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> -->
    <!-- D3.js -->
    <script type="text/javascript" src={{ url_for('static', filename='js/d3.min.js') }}></script>
    <!-- User Defined Scripts -->
    <script type="text/javascript" src={{ url_for('static', filename='js/common.js') }}></script>
  {% endblock %}

</html>
