<!DOCTYPE html>
{% extends "base.html" %}
<!-- contacts.html -->
{% block head %}
  {{ super() }}
  <!-- File Specific CSS -->
  <link rel="stylesheet" href="../static/css/contacts.css">
{% endblock %}

<!-- Navigation bar -->
{% block baseNavBar %}
  {{ super() }}
{% endblock %}
<!-- end of navbar -->

{% block body %}
<!--TODO: <body background="../static/images/dasacearmy.png" class="doapng" alt="Doa Watermark">-->
  <title>Contact Information</title>
  <div class="header">
          <h2 class="center paddingtop">Em's Flower Shop</h2>
          <p class="center">This website houses the photos of Em's flower creations.</p>
  </div>
  <h2 class="container">Points of Contact for this Project</h2>
  <section class="bkgw">
  <div class="navOffCntr">
	  <!--This div added for height compensation-->
	  <div style="height: 8vh;"></div>
          <p id="teamEmployees" class="center">
              Team
          </p>
          <!-- print line breaks -->
          {% for brks in range(5) %}
              </br>
          {% endfor %}
    </div>
        <p class="cmargin">{{ poc1 }}</p>
        <p class="cmargin">{{ poc2 }}</p>
  </section>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

{% block baseScripts %}
  {{ super() }}
  <!-- File Specific Scripts -->
  <script type="text/javascript" src={{ url_for('static', filename='js/contacts.js') }}></script>
{% endblock %}
